<?xml version="1.0"?>
<connectionStrings>
  <add name="OneviewEntities" connectionString="metadata=res://*/Oneview.csdl|res://*/Oneview.ssdl|res://*/Oneview.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=twkdbs98.ad.wwts.com;initial catalog=Oneview;persist security info=True;user id=DashboardApp;password=a6+9urB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="OneView_DB_Connection" connectionString="Data Source=twkdbs98.ad.wwts.com;Initial Catalog=Oneview;Persist Security Info=True;user id=DashboardApp;password=a6+9urB;MultipleActiveResultSets=false" providerName="System.Data.SqlClient" />
</connectionStrings>

